<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Breast Cancer Prediction</h1>
        </div>
        <img src="../static/logo.png" id="logo" alt="">
        <img src="../static/background.jpg" id="background" alt="" style="width:100%;">
        <div class="body-text">
            <h3>
                If you look at healthcare today, it's all about disease.
            </h3>
            <h3>
                It's not about understanding wellness at all.
            </h3>
            <h3>
                It's about understanding the disease and the disease's symptoms.
            </h3>
            <div class="btn">
                <a href="/predict">Get Started</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <h4>&copy; nitishbiswas.cse@gmail.com</h4>
    </div>
</body>

</html>